annotated-types==0.7.0
async-timeout==4.0.3
bidict==0.23.1
blinker==1.8.2
cffi==1.17.1
click==8.1.7
cryptography==43.0.1
Flask==3.0.3
Flask-SocketIO==5.3.7
gunicorn==23.0.0
h11==0.14.0
hiredis==3.0.0
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
more-itertools==10.5.0
packaging==24.1
pycparser==2.22
pydantic==2.9.1
pydantic_core==2.23.3
python-engineio==4.9.1
python-socketio==5.11.4
python-ulid==1.1.0
redis==5.0.8
redis-om==0.3.2
simple-websocket==1.0.0
types-cffi==1.16.0.20240331
types-pyOpenSSL==24.1.0.20240722
types-redis==4.6.0.20240903
types-setuptools==74.1.0.20240907
typing_extensions==4.12.2
Werkzeug==3.0.4
wsproto==1.2.0
zipp==3.20.2
