<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        const socket = io();
        let active_room = localStorage.getItem('active_room') ?? '#general';

        socket.on('connect', function() {
            socket.emit('join', { user: socket.id, room: active_room });
        });

        socket.on('user_joined', function (data) {
            addMessage(data.user, 'has joined the chat.');
        });

        socket.on('user_left', function (data) {
            addMessage(data.user, 'has left the chat.');
        });

        socket.on('broadcast', function (data) {
            addMessage(data.user, data.message);
        });

        const addMessage = (user, message) => {
            console.log(user, message);
            const messages = document.getElementById('messages');
            const li = document.createElement('li');
            li.appendChild(document.createTextNode(user + ': ' + message));
            messages.appendChild(li);
        }

        const sendData = () => {
            // Randomize user based on connection id
            socket.emit("send_message", { user: socket.id, room: localStorage.getItem('active_room'), message: document.getElementById('message').value });
            document.getElementById('message').value = '';
        }

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('rooms').addEventListener('click', function(event) {
                const current_room = localStorage.getItem('active_room');
                const new_room = event.target.innerText
                if (current_room !== new_room && event.target.tagName === 'LI') {
                    socket.emit('leave', { user: socket.id, room: current_room });
                    socket.emit('join', { user: socket.id, room: new_room });
                    localStorage.setItem('active_room', new_room);
                }
            });

            document.getElementById('chat_input').addEventListener('submit', function(event) {
                event.preventDefault();
                sendData();
            });
        });
    </script>
</head>
<body>
    <header>

    </header>
    <main>
        <div>
            <h2>Rooms</h2>
            <ul id="rooms">
                <li>#general</li>
                <li>#nsfw</li>
                <li>#support</li>
            </ul>
        </div>
        <div>
            <h2>Messages</h2>
            <ul id="messages">

            </ul>
            <div>
                <form id="chat_input">
                    <input placeholder="Type your message..." name="message" type="text" id="message" />
                    <button type="submit">Send Data</button>
                </form>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>